extends ../layout

block nav
  +topnav

block content
  .kd-content
    section.pagesection(style='background-color: #ffffff; padding: 70px 0px 35px 0px; margin-bottom: 30px; margin-top: -30px;')
      .container
        .row
          .col-md-12
            .kd-imageframe
              .row
                .col-md-5
                  img(src= imgList[0].url)
                .col-md-7
                  h1 #{chanpinInfo.place}
                  p #{chanpinInfo.introduce}
                  .kd-list.icon-list
                    ul
                      li
                        i.fa.fa-star
                        | 地点：#{chanpinInfo.place}
                      li
                        i.fa.fa-star
                        | 登山类型：#{chanpinInfo.fenleiname}
                      li.item-price(data-price= chanpinInfo.price)
                        i.fa.fa-star
                        | 价格：￥#{chanpinInfo.price} /人
                  - if (xingchengList.length > 0)
                    - if (usertype == 'user')
                      .col-md-8
                        label 选择订单行程：
                        .select1_inner
                          select.select2.select(style='width: 100%;', name='xingchengid')
                            each xingchengitem in xingchengList
                              option(value= xingchengitem.id)= xingchengitem.starttime
                      .col-md-8(style='margin-top: 12px;')
                        label 选择订单人数：
                        .select1_inner
                          input.toplaceinput(style='width: 100%;', type='number', name='ddrenshu', placeholder='订单人数')
                      .col-md-12(style='margin-top: 12px;')
                        button.btn.btn-info.pull-left.btn-addDingDan(data-chanpinid= chanpinInfo.id) 预定
                    - else
                      - if (usertype == 'user')
                        .no-datacon.smallno-datacon
                          .no-data.smallno-data
                            img(src='/public/img/no-data.png')
    section.pagesection(style=' padding: 0px 0px 10px 0px;')
      .container
        .row
          .col-md-12
            .kd-services.kd-services-grid
              .row
                each imgitem in imgList
                  article.col-md-4
                    figure
                      a(href='#')
                        img(src= imgitem.url, alt='')
    section.kd-pagesection(style=' padding: 55px 0px 40px 0px; background: #29c5f6; ')
      .container
        .row
          .col-md-12
            .kd-counter
              center
                h3(style='color: #fff; margin-bottom: 40px;')
                  | 行程所剩
                  span(style='color: #087dc2; font-weight: 700;') 人数
                  | 及出发
                  span(style='color: #087dc2; font-weight: 700;') 时间
              ul.row
                - if (xingchengList.length == 0)
                  .no-datacon.smallno-datacon
                    .no-data.smallno-data
                      img(src='/public/img/no-data.png')
                - else
                  each xingchengitem in xingchengList
                    li.col-md-3
                      i.fa.fa-bus.fa-3x
                      span.word-count #{xingchengitem.renshu - xingchengitem.ydrenshu}
                      small #{xingchengitem.starttime}
    section.kd-pagesection(style=' padding: 40px 0px 0px 0px; background: #ffffff; ')
      .container
        .row
          .col-md-12
            .kd-modrentitle.thememargin
              h3 预定须知
            .kd-testimonial
              ul.row
                li.col-md-4
                  .kd-testmnl-info
                    i.fa.fa-quote-left.fa-3x
                    p 安全告知
                    p(style='text-align: left;') 1.以下人群不宜参加徒步活动：
                    | 酒后、孕妇、身体不适者，精神病、心脏病、高血压、癫痫、骨质疏松症等患者。
                li.col-md-4
                  .kd-testmnl-info
                    i.fa.fa-quote-left.fa-3x
                    p 安全告知
                    p(style='text-align: left;')
                      | 2.在行程出发前：
                      br
                      | 1）适当锻炼，为徒步做好体能储备。出发前不宜太兴奋，以免影响休息。
                      br
                      | 2）根据路线网页描述，准备徒步所需装备。 
                li.col-md-4
                  .kd-testmnl-info
                    i.fa.fa-quote-left.fa-3x
                    p 安全告知
                    p(style='text-align: left;')
                      br
                      | 3.在徒步过程中：
                      br
                      | 1）徒步开始前，请做好热身活动，将重要关节活动开，防止身体受到伤害，减轻身体的僵硬程度。
                      br
                      | 2）团队意识：徒步期间应有团队意识，听从随团工作人员安排，不单独行动，以避免迷路，发生意外。

block footer
  +mixfooter
