extends ../layout

block nav
  +topnav

block content
  #parallax2.parallax
    .bg2.parallax-bg.bg-fixed(style='background-position: 50% 81px;')
    .overlay
    .parallax-content
      .container
  #team1
    .container(style='margin-top: 40px;')
      center
        h1(style='margin-bottom: 20px;') 我的
          span(style='color: #1cbbb4;') 订单
        .title1.animated
          button.btn.btn-info.btn-order.btn-wcldingdan 预定清单
          button.btn.btn-order.btn-ycldingdan 申请退款清单
      br
      .yclList(style='display: none;')
        - if (ycldingdanList.length > 0)
          each ycldingdanitem in ycldingdanList
            .col-sm-3
              .thumb3.animated(data-animation='flipInY', data-animation-delay='300')
                .thumbnail.clearfix
                  a(href='/detail/' + ycldingdanitem.chanpinid)
                    figure
                      img.img-responsive(src= ycldingdanitem.url, alt='')
                  .caption
                    .txt1 #{ycldingdanitem.place}
                    .txt2
                      p 出发时间：#{ycldingdanitem.starttime}
                      p 订单人数：#{ycldingdanitem.ddrenshu}人
                      p 订单总价：￥#{ycldingdanitem.allprice}
                      p 订单时间：#{ycldingdanitem.time}
                      - if (ycldingdanitem.state == 1)
                        p 退款状态：退款中
                      - else if (ycldingdanitem.state == 2)
                        p 退款状态：退款完成
        - else
          .no-datacon
            .no-data
              img(src='/public/img/no-data.png')
      .wclList
        - if (wcldingdanList.length > 0)
          each wcldingdanitem in wcldingdanList
            .col-sm-3
              .thumb3.animated(data-animation='flipInY', data-animation-delay='300')
                .thumbnail.clearfix
                  a(href='/detail/' + wcldingdanitem.chanpinid)
                    figure
                      img.img-responsive(src= wcldingdanitem.url, alt='')
                  .caption
                    .txt1 #{wcldingdanitem.place}
                    .txt2
                      p 出发时间：#{wcldingdanitem.starttime}
                      p 订单人数：#{wcldingdanitem.ddrenshu}人
                      p 订单总价：￥#{wcldingdanitem.allprice}
                      p 订单时间：#{wcldingdanitem.time}
                      - if (wcldingdanitem.state == 0)
                        p
                          button.btn.btn-primary.btn-shenqingtuikuan(data-dingdanid= wcldingdanitem.id) 申请退款
        - else
          .no-datacon
            .no-data
              img(src='/public/img/no-data.png')

block footer
  +mixfooter
